body{
  /* z */
  background-color: antiquewhite;
}


.Header-div{
 
display: flex;
justify-content: space-between;
border: 2px solid black;
/* background: linear-gradient(45deg, #ff6a00, #ee0979); */
}

.Header-div img{
  height: 100px;
  width: 100px;
  
}

.Header-div ul{
  display: flex;

}

.Header-div li{
  margin: 20px;
  padding: 10px;
  list-style: none;
}
.Header-div h1{
  padding: 10px;
}

.search{
  margin: 10px;
}
.resto-container{
  display: grid;
  grid-template-columns: repeat(6,1fr);
  
}
.resto-card{
  /* border: 2px solid black; */
  /* height: 300px; */
  width: 200px;
  word-break: keep-all;
  word-wrap: break-word;
  /* white-space: nowrap; */
  border-radius: 10px;
  background-color: rgb(250, 246, 241);
  margin: 5px 0px;
  /* text-align: center; */

}

.resto-card:hover{
  border: 1px solid rgb(139, 136, 136);
  cursor: pointer;
 

}
.resto-card img{
  margin:5px;
  width: 190px;
  height: 120px;
}